
init.sh
/.vscode
/env
__pycache__
model_checkpoints/
*.json
!vega_unet_layer_mapping.json
!vega_clip_layer_mapping.json
!vega_open_clip_layer_mapping.json
ramdisk/
*.log
tensorboard/
jax_cache/
*.csv
!model_properties_example.json
*.png
*.msgpack